  .seccion-comunidad {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.7);
      margin: 30px;
      border-radius: 50px;
      margin-top: 4%;
  }

  .contenedor {
      display: grid;
      grid-template-columns: 60% 40%;
  }

  .nuestro-proyecto {
      width: 100%;
      border-right: #ffffff 2px solid;
  }

  .nuestro-proyecto h1 {
      color: white;
      font-size: 50px;
      text-align: center;
  }

  .perfil-daniela {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
  }

  .titulo {
      color: aliceblue;
      font-size: 55px;
      font-family: 'Amasis';
      letter-spacing: 0.5rem;
      font-style: italic;
      text-align: center;
  }

  .lorem {
      width: 100%;
      font-family: 'Aptos';
  }

  .lorem p {
      color: white;
      text-align: justify;
      font-size: 20px;
      margin-right: 40px;
  }

  .eventos {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
  }

  .eventos img{
    height: 130px;
    width: auto;
    border-radius: 14px;
    margin-left: 70px;
    margin-bottom: 15px;
  }

 .titulo-lista{
    font-family: 'Aptos';
    font-size: 20px;
    margin: 0;
    text-align: left;
    margin: 0px 0 -15px -135px;
 }

 .lista{
    font-family: 'Aptos';
    font-size: 20px;
    margin-left: 80px;
 }

  .lorem a {
      color: beige;
      font-weight: bold;
      font-family: 'Amasis';
      font-size: larger;
  }

  .contenedor h2 {
      font-size: 30px;
      font-family: 'Amasis';
      color: aliceblue;
      text-align: center;
  }

  .contenedor h1 {
      font-size: 50px;
      font-family: 'Amasis';
      font-style: italic;
      margin-top: -25px;
      letter-spacing: 0.5rem;
  }

  .boton {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    max-width: 300px;
    text-align: center;
    font-size: 25px;
    font-family: 'Amasis-medium';
    margin: 20px 0;
  }

