body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('img/Imagen1.png') center/cover fixed;
  }
  
  .mi-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65); /* Fondo transparente con un tono negro más claro */
    color: white; /* Color del texto */
  }
  
  .izquierda {
    width: 50%;
  }
  
  .titulo-escalera {
    font-size: 1em;
    font-family: "Calibri";
    line-height: 16px;
  }
  
  .titulo-escalera span {
    display: block;
    font-family: "Calibri";
    padding-left: 25px;
  }
  
  .linea2 {
    margin-left: 15px;
    font-size: 25px;
    letter-spacing: 0.50rem;
    font-style: italic;
  }
  
  .linea3 {
    margin-left: 120px;
  }
  
  .derecha {
    display: flex;
    align-items: center;
    margin-right: 8%;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  
  .seccion-contenido {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .contenido-planetas {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px; /* Ajusta según sea necesario */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    width: 800px;
    margin-right: 40px;
    
  }
  
  .videos-derecha {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  p{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
  }
  
  .videos-derecha a {
    display: block;
  }
  
  .videos-derecha video {
    width: 350px;
    height: 250px;
    border: 3px solid white;
    border-radius: 10px;
  }

  .contenido-adicional {
    color: aliceblue;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

.boton-explorar {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

